.button,
.showForm {
    border-style: none;
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: transparent;

    @include tablet {
        font-size: clamp(18px, 20px, 22px);
    }

    @include desktop {
        font-size: clamp(18px, 22px, 24px);
    }
}

.formButton {
    font-size: map-get($font-sizes, "title-mobile-home");
    color: #F2E0E0; 

    @include tablet {
        font-size: clamp(20px, 22px, 24px);
    }

    @include desktop {
        font-size: clamp(18px, 22px, 24px);
    }
}

.button-login,
.button-signup {
    background-color: $button-color-dark;
    color: $text-button;
    margin: 8px 0 8px 0;
    border-radius: map-get($radius , "buttons-radius");
    font-size: map-get($font-sizes, "text-button-mobile");
    height: auto;
    width: auto;
    padding: 5px;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }

    @include desktop {
        font-size: clamp(15px, 18px, 20px);
    }
}

.SignupButton {
    padding-bottom: 16px;
}

.post-button {
    align-self: center;
    background-color: $button-color-dark;
    color: $text-button;
    border-radius: map-get($radius, "buttons-radius");
    padding: 4px;
    cursor: pointer;
    border-style: none;
    align-self: end;
    margin-top: 8px;
    font-weight: 600;

    @include tablet {
        font-size: clamp(14px, 16px, 18px);
    }

    @include desktop {
        font-size: clamp(15px, 18px, 20px);
    }
}


.logOutButton {
    border-radius: map-get($radius, "buttons-radius");
    background-color: $tertiary-color;
    border-style: none;
    margin: 16px 0 8px 16px;
    padding: 8px;

    @include tablet {
        font-size: clamp(14px, 16px, 18px);
    }

    @include desktop {
        font-size: clamp(15px, 18px, 20px);
    }
}

a {
    color: $secondary-color;
    text-decoration: none;
}



.button-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.send,
.close,
.confirmChange,
.deletePost {
    width: 6em;
    height: 2.5em;
    cursor: pointer;
    color: $secondary-color;
    border-style: none;
    border-radius: map-get($radius, "buttons-radius");
    border: map-get($borders, "border-light");

    &:active {
        background-color: $secondary-color;
        color: $tertiary-color;
    }


    @include tablet {
        margin-top: 24px;
        font-size: clamp(14px, 16px, 18px);
    }

    @include desktop {
        margin-top: 24px;
        font-size: clamp(14px, 16px, 18px);
    }
}