.button{
    border-style: none;
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: transparent;
}

.loginButton{
    font-family: $font;
    font-size: 20px;
    color: #F2E0E0
}