.logo-sphere {
    color: $logo-sphere;
    height: 64px;
    width: 66px;

    @include tablet {
        height: 10vh;
        width: 10vw;
    }
}

.header-end-line {
    @include flex-header-line-Icon;
    margin-top: 24px;
    width: 100%;
}

.line {
    border: 3px solid $header-end-line;
    width: 85%;
}

.logo-end-line {
    fill: $secondary-color;
    height: 17px;
    width: 15px;

    @include tablet {
        height: 3vh;
        width: 5vw;
    }
}

.usersPic {
    @include flex-usersInfo;
    background-color: transparent;
}


.profil-picture,
.userPicture {
    border-radius: map-get($radius, "profil-radius-mobile");
    height: map-get($profil-picture-mobile, "height-image");
    width: map-get($profil-picture-mobile, "width-image");
    background-color: transparent;

    
    @include tablet {
        height: 6.5vh;
        width: 9vw;
    }

    @include desktop {
        height: 6.5vh;
        width: 7vw;
    }
}


.imageFromPost {
    height: 6em;
    width: 6em;
    align-self: center;
    border-radius: map-get($radius, "profil-radius-mobile");
    border: 2px solid $tertiary-color;

    @include tablet {
        height: 10vh;
        width: 10vw;

    }
}

.userImage {
    border-radius: map-get($radius, "profil-radius-mobile");
    height: map-get($profil-picture-mobile, "height-image");
    width: map-get($profil-picture-mobile, "width-image");
    margin: 5px;

    @include tablet {
        height: 8vh;
        width: 8vw;
    }

    @include desktop {
        height: 6.5vh;
        width: 7vw;
    }
}