.logo-sphere {
    color: $logo-sphere;
    height: 64px;
    width: 66px;
}

.header-end-line {
    @include flex-header-line-Icon;
    margin-top: 24px;
    width: 100%;
}

.line {
    border: 3px solid $header-end-line;
    width: 85%;
}

.logo-end-line {
    fill: $secondary-color;
    height: 17px;
    width: 15px;
}

.usersPic{
    @include flex-usersInfo;
    background-color: transparent;
}


.profil-picture, .userPicture {
    border-radius: map-get($radius, "profil-radius-mobile");
    height: map-get($profil-picture-mobile, "height-image");
    width: map-get($profil-picture-mobile, "width-image");
    background-color: transparent;
}


.imageFromPost{
    height: 6em;
    width: 6em;
    align-self: center;
    border-radius: map-get($radius, "profil-radius-mobile");
    border: 2px solid $tertiary-color;
}

.userImage{
    border-radius: map-get($radius, "profil-radius-mobile");
    height: map-get($profil-picture-mobile, "height-image");
    width: map-get($profil-picture-mobile, "width-image");
    margin: 5px;
}