* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $background-color-dark;
    font-family: $font;
}

#app,
body,
html {
    width: 100vw;
    background-color: $background-color-dark;
    height: 100%;
    @include flex-connexion-creation-box;

    @include mobile {
        min-width: map-get($breakpoints, "mobile-min");
        max-width: map-get($breakpoints, "mobile-max");
    }

    @include tablet {
        min-width: map-get($breakpoints, "tablet-min");
        max-width: map-get($breakpoints, "tablet-max");
        overflow-y: scroll;
    }

    @include desktop {
        @include flex-connexion-creation-box;
        overflow-y: scroll;
    }
}

#main-container {
    @include flex-connexion-creation-box;
    background-color: $box-login-signup;
    box-shadow: map-get($shadows, "login-signup-shadow");
    margin: 24;
    height: 30em;
    width: 90vw;

    @include mobile {
        min-width: map-get($breakpoints, "mobile-min");
        max-width: map-get($breakpoints, "mobile-max");
        height: 20em;
    }

    @include tablet {
        min-width: map-get($breakpoints, "tablet-min");
        max-width: map-get($breakpoints, "tablet-max");
        height: 30em;

    }

    @include desktop {
        min-width: map-get($breakpoints, "desktop-min");
        max-width: map-get($breakpoints, "desktop-max");
    }
}

.create-account {
    background-color: transparent;
    color: #F2E0E0;
    padding: 20px 0 8px 0;
    font-size: 14px;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }

    @include desktop {
        font-size: clamp(20px, 22px, 24px);
    }
}

span{
    color: $primary-color;
    background-color: transparent;
}