
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $background-color-dark;
    font-family: $font;
}

// Header in homepage
#header-container {
    @include flex-header-homepage;
    margin: 8px;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#main-container{
    @include flex-connexion-creation-box;
    height: 60%;
    width: 100%;
    background-color: $box-login-signup;
    position: absolute;
    left: 0;
    top: 150px;
    box-shadow: map-get($shadows, "login-signup-shadow");
}