* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $background-color-dark;
    font-family: $font;
}

#mainPost-container {
    @include flex-connexion-creation-box;

    height: 100vh;
    overflow: hidden;

    @include mobile {
        min-width: map-get($breakpoints, "mobile-min");
        max-width: map-get($breakpoints, "mobile-max");
    }

    @include tablet {
        min-width: map-get($breakpoints, "tablet-min");
        max-width: map-get($breakpoints, "tablet-max");
        height: 75vh;
    }

}

.newPostForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

}

.box-userAccount {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;

    @include mobile {
        height: 10vh;
        width: 90vw;

    }

    @include tablet {
        height: 15vh;
        width: 80vw;
    }

}

.userAccount {
    @include flex-profil-mainUser;

}

#userPost {
    width: 50vw;
    height: 6vh;
    padding: 8px;

    overflow: scroll;
    box-shadow: map-get($shadows, "home-fields-shadow");
    border-style: none;
    background-color: $post-field-dark;
    resize: none;

    color: $tertiary-color;
    border-radius: map-get($radius, "post-box");

    @include mobile {
        width: 60vw;
        height: auto;
        padding: 3px;
    }

    @include tablet {
        width: 50vw;
        height: 6vh;
        padding: 8px;

    }

}

#userPost:focus {
    outline: none;
}

.upload-file {
    cursor: pointer;
    width: 8%;
    margin-left: 5px;

    @include tablet {
        font-size: clamp(16px, 18px, 22px);
        margin-right: 8px;
    }

    @include desktop {
        font-size: clamp(16px, 18px, 22px);
    }
}

#imagePost {
    display: none;
}

#post-container {

    @include flex-list-post-container;
    margin: 12px;
    height: 55vh;
    width: 70vw;
    background-color: $box-posts-dark;
    scroll-behavior: smooth;
    overflow-y: scroll;
    border-radius: 2%;

    @include desktop {
        width: 70vw;
        margin: 12px;
    }

    @include mobile {
        width: 90vw;
        margin: 12px;
    }

    @include tablet {
        width: 80vw;
        margin: 12px;
    }
}



.onePost {
    height: auto;
    margin: 5px;
    background-color: transparent;

    @include tablet {
        margin: 8px;
    }

    @include desktop {
        margin: 12px;
    }
}

.username {
    background-color: transparent;
    color: $username-dark;
    padding-left: 12px;
    font-weight: 600;
    font-size: clamp(14px, 16px, 18px);

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
        padding-left: 18px;
    }

    @include desktop {
        font-size: clamp(18px, 20px, 22px);
        padding-left: 18px;
    }
}

.userPost {
    height: auto;
    margin: 0 5px 5px 5px;

}

.box-date-post {
    display: flex;
    flex-direction: column;
    background-color: $box-posts-dark;
}

.dateTime {
    align-self: flex-end;
    background-color: transparent;
    color: $username-dark;
    font-size: 12px;
    padding-bottom: 3px;

    @include tablet {
        font-size: clamp(12px, 14px, 16px);
        padding-left: 18px;
        padding-bottom: 8px;
    }

    @include desktop {
        font-size: clamp(13px, 15px, 18px);
        padding-left: 18px;
    }
}

.post {
    background-color: $post-field-dark;
    color: $text-post-dark;
    font-size: 16px;
    border-radius: map-get($radius, "post-box");
    padding: 5px;
    border: map-get($borders, "border-dark");
    display: flex;
    flex-direction: column;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }

    @include desktop {
        font-size: clamp(16px, 18px, 20px);
    }
}


.usersPic {
    @include flex-usersInfo;
    background-color: transparent;

}

.boxUser {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
}

.boxModifyDelete {
    align-self: flex-end;
    background-color: transparent;
}

.modify-post {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;

    @include tablet {
        flex-wrap: wrap;
    }

    @include desktop {
        flex-wrap: wrap;
    }
}


.deletePost {
    cursor: pointer;
    background-color: $box-posts-dark;
    padding: 5px 0 8px 0;
    color: $username-dark;
}

.modal,
.modificationsUser {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}

.changePost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputChange {
    margin: 16px;
    width: 80%;
    height: 10vh;
    resize: none;
    border-style: none;
    border: map-get($borders, "border-light");
    border-radius: map-get($radius, "buttons-radius");
    background-color: $post-field-dark;
    text-align: start;

    &:focus {
        border-style: none;
    }

    @include tablet {
        height: 10vh;
        width: 60vw;
        margin-bottom: 32px;
    }

    @include desktop {
        height: 10vh;
        width: 50vw;
        margin-bottom: 32px;
    }
}

#container-Comment {
    margin: 16px 8px 8px 8px;
    width: 90%;
    height: 55%;
    border-radius: map-get($radius, "buttons-radius");
    overflow-y: scroll;
}


#comments {
    margin: 8px 8px 16px 8px;
    width: 90%;
    height: 15%;
    resize: none;
    border: map-get($borders, "border-light");
    border-radius: map-get($radius, "buttons-radius");
    background-color: $post-field-dark;
    color: $tertiary-color;
}

.usersComments {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
}

.box-comment {
    background-color: transparent;
    border-radius: map-get($radius, "post-box");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8px;
    min-height: 4em;
    border: map-get($borders, "border-light");
}



.userInformations {
    display: flex;
}



.infosComment {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-size: 12px;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }

    @include desktop {
        font-size: clamp(18px, 20px, 22px);
    }
}



.commentOfUser {
    padding: 8px;
    font-size: 15px;
    color: $username-dark;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }

    @include desktop {
        font-size: clamp(18px, 19px, 20px);
    }
}



.dateOfComment {
    padding: 8px;
    font-size: 12px;
    color: $username-dark;
    align-self: flex-end;

    @include tablet {
        font-size: clamp(12px, 14px, 18px);
    }

    @include desktop {
        font-size: clamp(12px, 14px, 18px);
    }
}



.userNameComment {
    color: $username-dark;
    padding: 5px;
    margin-top: 5px;

    @include tablet {
        font-size: clamp(18px, 20px, 22px);
    }

    @include desktop {
        font-size: clamp(18px, 20px, 22px);
    }
}