* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $background-color-dark;
    font-family: $font;
}

#mainPost-container {
    @include flex-connexion-creation-box;
    min-width: map-get($breakpoints, "mobile-min");
    max-width: map-get($breakpoints, "mobile-max");
    height: 90vh;
    overflow: hidden;

    @include tablet {
        min-width: map-get($breakpoints, "tablet-min");
        max-width: map-get($breakpoints, "tablet-max");
        height: 75vh;
    }
}

.box-userAccount {
    height: 15vh;
    width: 90vw;
    margin: 12px;
    display: flex;
    flex-direction: column;

    @include tablet {
        height: 10vh;
    }
}

.userAccount {
    @include flex-profil-mainUser;
}

#userPost {
    width: 15em;
    height: auto;
    overflow: scroll;
    box-shadow: map-get($shadows, "home-fields-shadow");
    border-style: none;
    background-color: $post-field-dark;
    resize: none;
    padding: 3px;
    color: $tertiary-color;
    border-radius: map-get($radius, "post-box");

    @include tablet {
        width: 60vw;
        height: 8vh;
        padding: 8px;
    }
}

#userPost:focus {
    outline: none;
}

.upload-file {
    cursor: pointer;
}

#imagePost {
    display: none;
}

#post-container {
    @include flex-list-post-container;
    margin: 12px;
    height: 55vh;
    width: 90vw;
    background-color: $box-posts-dark;
    scroll-behavior: smooth;
    overflow-y: scroll;
    border-radius: 2%;

}



.onePost {
    height: auto;
    margin: 5px;
    background-color: transparent;

    @include tablet {
        margin: 8px;
    }
}

.username {
    background-color: transparent;
    color: $username-dark;
    padding-left: 12px;
    font-weight: 600;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
        padding-left: 18px;
    }
}

.userPost {
    height: auto;
    margin: 0 5px 5px 5px;

}

.box-date-post {
    display: flex;
    flex-direction: column;
    background-color: $box-posts-dark;
}

.dateTime {
    align-self: flex-end;
    background-color: transparent;
    color: $username-dark;
    font-size: 12px;
    padding-bottom: 3px;

    @include tablet {
        font-size: clamp(12px, 14px, 16px);
        padding-left: 18px;
        padding-bottom: 8px;
    }
}

.post {
    background-color: $post-field-dark;
    color: $text-post-dark;
    font-size: 16px;
    border-radius: map-get($radius, "post-box");
    padding: 5px;
    border: map-get($borders, "border-dark");
    display: flex;
    flex-direction: column;

    @include tablet {
        font-size: clamp(16px, 18px, 20px);
    }
}


.modify-post {
    cursor: pointer;
    background-color: transparent;
}

.check {
    @include flex-list-post-container;
    background-color: $box-posts-dark;
    font-size: 16px;
    color: $username-dark;

    @include tablet {
        font-size: clamp(14px, 16px, 18px);
    }
}


.deletePost {
    cursor: pointer;
    background-color: $box-posts-dark;
    padding: 5px 0 8px 0;
    color: $username-dark;
}

.modal,
.modificationsUser {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}


.container,
.changes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 23em;
    width: 20em;
    border-radius: map-get($radius, "buttons-radius");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputChange {
    margin: 16px;
    width: 90%;
    height: 50%;
    resize: none;
    border-style: none;
    border: map-get($borders, "border-light");
    border-radius: map-get($radius, "buttons-radius");
    background-color: $post-field-dark;
    text-align: start;

    &:focus {
        border-style: none;
    }
}

#container-Comment {
    margin: 16px 8px 8px 8px;
    width: 90%;
    height: 55%;
    border-radius: map-get($radius, "buttons-radius");
    overflow-y: scroll;
}


#comments {
    margin: 8px 8px 16px 8px;
    width: 90%;
    height: 15%;
    resize: none;
    border: map-get($borders, "border-light");
    border-radius: map-get($radius, "buttons-radius");
    background-color: $post-field-dark;
    color: $tertiary-color;
}

.usersComments {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
}

.box-comment {
    background-color: transparent;
    border-radius: map-get($radius, "post-box");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8px;
    min-height: 4em;
    border: map-get($borders, "border-light");
}

;

.userInformations {
    display: flex;
}

;

.infosComment {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-size: 12px;
}

;

.commentOfUser {
    padding: 8px;
    font-size: 15px;
    color: $username-dark;
}

;

.dateOfComment {
    padding: 8px;
    font-size: 12px;
    color: $username-dark;
    align-self: flex-end;
}

;

.userNameComment {
    color: $username-dark;
    padding: 5px;
    margin-top: 5px;
}

;