// flexbox 
@mixin flex-header-homepage-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-header-line-Icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin flex-footer-and-headerPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-connexion-creation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-connexion-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-post-mainUser-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-profil-mainUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-publication-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-list-post-container {
    display: flex;
    flex-direction: column;
}

@mixin flex-usersInfo {
    display: flex;
    align-items: center;
}

@mixin flex-post-reactions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-post-mainUserOnly-reaction-modification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ----------------------Media queries----------------------//

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, "tablet-min")) and (max-width: map-get($breakpoints, "tablet-max")) {
        & {
            @content;
        }
    }
}


@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, "desktop-min")) and (max-width: map-get($breakpoints, "desktop-max")) {
        & {
            @content;
        }
    }

}