#footer-container{
    margin: 32px, 8px, 8px, 8px;
    @include flex-header-homepage-footer;
    height: auto;
    min-width: map-get($breakpoints, "mobile-min");
    max-width: map-get($breakpoints, "mobile-max");
    box-shadow: map-get($shadows, "footer-post-shadow");
}

