// Header in homepage
#header-container {
    @include flex-header-homepage-footer;
    min-width: map-get($breakpoints, "mobile-min"); 
    max-width: map-get($breakpoints, "mobile-max");
    margin-top: 10px;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-end-line{
    margin-top: 10px;
}

.logo-end-line{
    width: auto;
    margin: 8px;
}