// Header in homepage
#header-container {
    @include flex-header-homepage-footer;
    min-width: map-get($breakpoints, "mobile-min");
    max-width: map-get($breakpoints, "mobile-max");
    margin-top: 10px;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-end-line {
    margin-top: 10px;
}

.logo-end-line {
    width: auto;
    margin: 8px;
}

// ---------------------------- Post Page ----------------------------- //

#postHeader {
    @include flex-footer-and-headerPost;
    margin: 12px;
    z-index: -5;
}

.logo-post {
    height: 30px;
    padding-top: 5px;
}

.logo-theme-color {
    height: 25px;
}



#userDetails{
    position: fixed;
    background-color: $nav-background;
    z-index: 99;
    width: 15em;
    height: 15em;
    margin-top: 8px;
    border-radius: 10%;
}

.userOwnData{
    background-color: $nav-background;
    margin: 16px 0 16px 16px;
}

.account-infos{
    background-color: transparent;
}