.button,
.showForm {
  border-style: none;
  cursor: pointer;
  width: auto;
  height: auto;
  background-color: transparent;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .button,
.showForm {
    font-size: 20px;
  }
}

.formButton {
  font-size: 18px;
  color: #F2E0E0;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .formButton {
    font-size: 22px;
  }
}

.button-login,
.button-signup {
  background-color: rgba(255, 215, 215, 0.88);
  color: #4E5166;
  margin: 8px 0 8px 0;
  border-radius: 6px;
  font-size: 14px;
  height: auto;
  width: auto;
  padding: 5px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .button-login,
.button-signup {
    font-size: 18px;
  }
}

.SignupButton {
  padding-bottom: 16px;
}

.post-button {
  align-self: center;
  background-color: rgba(255, 215, 215, 0.88);
  color: #4E5166;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border-style: none;
  align-self: end;
  margin-top: 8px;
  font-weight: 600;
}

.logOutButton {
  border-radius: 6px;
  background-color: #4E5166;
  border-style: none;
  margin: 16px 0 8px 16px;
  padding: 8px;
}

a {
  color: #FFD7D7;
  text-decoration: none;
}

.button-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send,
.close,
.confirmChange,
.deletePost {
  width: 6em;
  height: 2.5em;
  cursor: pointer;
  color: #FFD7D7;
  border-style: none;
  border-radius: 6px;
  border: 1.5px solid #FFD7D7;
}
.send:active,
.close:active,
.confirmChange:active,
.deletePost:active {
  background-color: #FFD7D7;
  color: #4E5166;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 24px 0 24px 0;
}

.fas,
.fab {
  color: #F2EFEF;
  cursor: pointer;
}

.userInfos {
  font-size: 18px;
  color: #FFD7D7;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .userInfos {
    height: 3vh;
  }
}

.reaction-icons-post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.42);
}

.reaction {
  padding: 5px;
  color: #FFD7D7;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
}

.photo {
  color: #FFD7D7;
}

.fa-window-close {
  cursor: pointer;
  color: #FFD7D7;
  margin: 16px 16px 0 16px;
  align-self: flex-end;
}

.logo-sphere {
  color: #FFD7D7;
  height: 64px;
  width: 66px;
}

.header-end-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.line {
  border: 3px solid #FFD7D7;
  width: 85%;
}

.logo-end-line {
  fill: #FFD7D7;
  height: 17px;
  width: 15px;
}

.usersPic {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.profil-picture, .userPicture {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

.imageFromPost {
  height: 6em;
  width: 6em;
  align-self: center;
  border-radius: 25px;
  border: 2px solid #4E5166;
}

.userImage {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.showForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  border: none;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .showForm {
    width: 90vw;
  }
}

.create-Account-form {
  height: 250px;
  border: 1.5px solid #FFD7D7;
  border-radius: 3px;
  overflow-y: scroll;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .create-Account-form {
    width: 80vw;
    height: 40vh;
  }
}

.form-control-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 200px;
  background-color: rgba(217, 217, 217, 0.16);
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .form-control-login {
    width: 70vw;
    height: auto;
    padding-top: 24px;
  }
}

label {
  color: #F2E0E0;
  padding: 8px;
  background-color: transparent;
  align-self: flex-start;
  font-size: 14px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  label {
    width: 60vw;
    font-size: 18px;
    padding: 8px 8px 8px 0;
  }
}

.email-input,
input,
.password-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  background-color: transparent;
  border-style: none;
  margin-bottom: 5px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .email-input,
input,
.password-input {
    width: 60vw;
    font-size: 18px;
    padding: 8px 8px 8px 0;
  }
}

input {
  background-color: rgba(242, 224, 224, 0.8);
  width: 92%;
  height: 28px;
  border-radius: 3px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  input {
    width: 60vw;
    height: 4.5vh;
    font-size: 16px;
  }
}

.form-control-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.16);
  width: 310px;
  height: auto;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .form-control-signup {
    width: 80vw;
    height: auto;
  }
}

.lastname-field,
.firstname-field,
.email-field,
.password-field,
.image-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  width: 90%;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .lastname-field,
.firstname-field,
.email-field,
.password-field,
.image-field {
    width: 60vw;
    height: auto;
    font-size: 16px;
  }
}

.image-file {
  padding: 5px;
}

#footer-container {
  margin: 32px, 8px, 8px, 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-width: 320px;
  max-width: 420px;
  box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.09);
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #footer-container {
    min-width: 421px;
    max-width: 768px;
  }
}

#header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 420px;
  margin-top: 10px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #header-container {
    min-width: 421px;
    max-width: 768px;
  }
}

.header-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-end-line {
  margin-top: 10px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .header-end-line {
    margin-top: 24px;
  }
}

.logo-end-line {
  width: auto;
  margin: 8px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .logo-end-line {
    margin: 16px;
  }
}

#postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  z-index: -5;
}

.logo-post {
  height: 30px;
  padding-top: 5px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .logo-post {
    height: 4.5vh;
  }
}

.logo-theme-color {
  height: 25px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .logo-theme-color {
    height: 3.5vh;
  }
}

#userDetails {
  position: fixed;
  background-color: rgba(255, 215, 215, 0.9);
  z-index: 99;
  width: 15em;
  height: 15em;
  margin-top: 8px;
  border-radius: 10%;
}

.userOwnData {
  background-color: rgba(255, 215, 215, 0.9);
  margin: 16px 0 16px 16px;
}

.account-infos {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #4E5166;
  font-family: "Lato", sans-serif;
}

#app,
body,
html {
  min-width: 320px;
  max-width: 420px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #app,
body,
html {
    min-width: 421px;
    max-width: 768px;
    overflow-y: scroll;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 420px;
  background-color: rgba(217, 217, 217, 0.16);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 20em;
  margin: 0;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #main-container {
    min-width: 421px;
    max-width: 768px;
    height: 30em;
  }
}

.create-account {
  background-color: transparent;
  color: #F2E0E0;
  padding: 20px 0 8px 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #4E5166;
  font-family: "Lato", sans-serif;
}

#mainPost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 420px;
  height: 90vh;
  overflow: hidden;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #mainPost-container {
    min-width: 421px;
    max-width: 768px;
    height: 75vh;
  }
}

.box-userAccount {
  height: 15vh;
  width: 90vw;
  margin: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .box-userAccount {
    height: 10vh;
  }
}

.userAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userPost {
  width: 15em;
  height: auto;
  overflow: scroll;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  background-color: #F2E0E0;
  resize: none;
  padding: 3px;
  color: #4E5166;
  border-radius: 4px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  #userPost {
    width: 60vw;
    height: 8vh;
    padding: 8px;
  }
}

#userPost:focus {
  outline: none;
}

.upload-file {
  cursor: pointer;
}

#imagePost {
  display: none;
}

#post-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
  height: 55vh;
  width: 90vw;
  background-color: rgba(217, 217, 217, 0.42);
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-radius: 2%;
}

.onePost {
  height: auto;
  margin: 5px;
  background-color: transparent;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .onePost {
    margin: 8px;
  }
}

.username {
  background-color: transparent;
  color: #F2E0E0;
  padding-left: 12px;
  font-weight: 600;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .username {
    font-size: 18px;
    padding-left: 18px;
  }
}

.userPost {
  height: auto;
  margin: 0 5px 5px 5px;
}

.box-date-post {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.42);
}

.dateTime {
  align-self: flex-end;
  background-color: transparent;
  color: #F2E0E0;
  font-size: 12px;
  padding-bottom: 3px;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .dateTime {
    font-size: 14px;
    padding-left: 18px;
    padding-bottom: 8px;
  }
}

.post {
  background-color: #F2E0E0;
  color: #4E5166;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px;
  border: 1.5px solid #4E5166;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .post {
    font-size: 18px;
  }
}

.modify-post {
  cursor: pointer;
  background-color: transparent;
}

.check {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.42);
  font-size: 16px;
  color: #F2E0E0;
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .check {
    font-size: 16px;
  }
}

.deletePost {
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.42);
  padding: 5px 0 8px 0;
  color: #F2E0E0;
}

.modal,
.modificationsUser {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container,
.changes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 23em;
  width: 20em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputChange {
  margin: 16px;
  width: 90%;
  height: 50%;
  resize: none;
  border-style: none;
  border: 1.5px solid #FFD7D7;
  border-radius: 6px;
  background-color: #F2E0E0;
  text-align: start;
}
.inputChange:focus {
  border-style: none;
}

#container-Comment {
  margin: 16px 8px 8px 8px;
  width: 90%;
  height: 55%;
  border-radius: 6px;
  overflow-y: scroll;
}

#comments {
  margin: 8px 8px 16px 8px;
  width: 90%;
  height: 15%;
  resize: none;
  border: 1.5px solid #FFD7D7;
  border-radius: 6px;
  background-color: #F2E0E0;
  color: #4E5166;
}

.usersComments {
  display: flex;
  flex-direction: column;
  background-color: #4E5166;
}

.box-comment {
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8px;
  min-height: 4em;
  border: 1.5px solid #FFD7D7;
}

.userInformations {
  display: flex;
}

.infosComment {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-size: 12px;
}

.commentOfUser {
  padding: 8px;
  font-size: 15px;
  color: #F2E0E0;
}

.dateOfComment {
  padding: 8px;
  font-size: 12px;
  color: #F2E0E0;
  align-self: flex-end;
}

.userNameComment {
  color: #F2E0E0;
  padding: 5px;
  margin-top: 5px;
}/*# sourceMappingURL=style.css.map */